<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

</style>
<table>
  <tr>
    <th>Amount</th>
    <th>Tag</th>
    <th>Shop</th>
    <th>Date</th>
    <th>Action</th>
    <th></th>
  </tr>
<% if @user != nil %>
  <% @transactions.each do |transaction|%>
    <tr>
      <td> £<%= transaction.amount %> </td>
      <td><%= transaction.tag %></td>
      <td> <%= transaction.shop %></td>
      <td><%= transaction.date %></td>

   <td><a class="button" href="/transaction/<%=transaction.id%>/edit">Edit</a></td>
    <td><form  action="/transaction/<%= transaction.id %>/delete" method="post">
       <input class="button" type="submit" value="delete"/></form></td>

       <% end %>
 </table>

  <% if @total != nil %>
  <p> Total: <%= @total %> </p>
  <% end %>

   <% if @user.budget != nil %>
     <p>Budget: <%= @user.budget %></p>
         <% if @user.budget.to_i < 0 %>
         <p> You've gone over budget, you're broke.</p>
         <% else %>
         <p> You still have £<%= @user.budget %> to spend.</p>
         <% end %>
     <% else %>
     <p>No budget has been set yet.</p>
   <% end %>
<% end %>
